<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <title>震央分布圖</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='epicenter.css') }}">
    <!-- 引入Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
</head>
<body>
    <h1>震央分布圖</h1>
    <nav class="navigation">
        <ul>
            <li><a href="/">首頁</a></li>
            <li><a href="/data">地震資料</a></li>
            <li><a href="/epicenter">震央分布</a></li>
            <li><a href="/frequency">地震頻率</a></li>
        </ul>
    </nav>
    <div id="map" style="height: 600px;"></div>
    <!-- 引入Leaflet JS -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script>
        // 初始化地圖
        var map = L.map('map').setView([23.6978, 120.9605], 7); // 台灣的經緯度中心點

        // 加入輕量化的OpenStreetMap圖層
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 18,
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        // 設定地震標記的樣式
        function getRadius(magnitude) {
            return magnitude * 2; // 根據地震芮氏規模調整圓的半徑
        }

        function getColor(magnitude) {
            return magnitude > 5 ? '#d73027' :
                   magnitude > 4 ? '#fc8d59' :
                   magnitude > 3 ? '#fee08b' :
                   magnitude > 2 ? '#d9ef8b' :
                   '#1a9850';
        }

        // 加入地震標記
        var earthquakes = JSON.parse('{{ earthquakes|tojson|safe }}');
        earthquakes.forEach(function(eq) {
            var circle = L.circleMarker([eq[8], eq[7]], {
                radius: getRadius(eq[3]), // 根據地震規模調整半徑
                fillColor: getColor(eq[3]), // 根據地震規模調整顏色
                color: '#000',
                weight: 1,
                opacity: 1,
                fillOpacity: 0.8
            }).addTo(map);
            circle.bindPopup(`
                <b>ID：</b><a href="https://scweb.cwa.gov.tw/zh-tw/earthquake/details/${eq[0]}" target="_blank">${eq[0]}</a><br>
                <b>地震編號：</b> ${eq[1]}<br>
                <b>日期時間：</b> ${eq[2]}<br>
                <b>芮氏規模：</b> ${eq[3]}<br>
                <b>地震深度：</b> ${eq[4]}<br>
                <b>震央地點：</b> ${eq[5]}<br>
                <b>最大震度：</b> ${eq[6]}<br>
                <b>經度：</b> ${eq[7]}<br>
                <b>緯度：</b> ${eq[8]}
            `);
        });
    </script>
    <footer>
        <p>資料來源：中央氣象署地震測報中心 <a href="https://scweb.cwa.gov.tw/" target="_blank">(https://scweb.cwa.gov.tw/)</a></p>
        <p>淡江大學 112-2 人工智慧應用實驗（一）期末專題 第七組：411640310 公行二A 盧俊諺; 412771015 AI一B 洪一瑄</p>
    </footer>
</body>
</html>
